*{
    margin: 0.2%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-color: #030b17;
    color: white;
    font-family: cursive;
}

/* theme start */
.theme{
    display: flex;
    flex-direction: row-reverse;
}

.theme button{
    border: 3px solid red;
    border-radius: 10px;
    cursor: pointer;
    padding: 6px;
    font-family: cursive;
    font-size: larger;
}
/* theme end */

/* title_with_score start */
.title_with_score{
    width: 55%;
    margin: auto;
    margin-top: 0px;
    border: 1px solid white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.title_with_score .title_with_score-title{
    font-size: xx-large;
    width: 22%;
}

.title_with_score .title_with_score-score{
    width: 35%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: larger;
    line-height: 35px;
}

.title_with_score .title_with_score-exact_score{
    font-size: xx-large;
    color: red;
}
/* title_with_score end */


/*  rules_and_next start  */
.rules_and_next{
    width: 20%;
    position: absolute;
    bottom: 00px;
    right: 00px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;}

.rules_and_next img{
    width: 100%;
    display: none;
}

.rules_and_next div{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

.rules_and_next div button{
    padding: 5px 30px;
    font-size: 17px;
    border-radius: 11px;
    cursor: pointer;
}
/*  rules_and_next end  */


/* symbols started */
.symbols{
    width: 25%;
    margin: auto;
    margin-top: 7%;
}

.symbols h1{
    margin-bottom: 10px;
    color: red;
    text-align: center;
}

.symbols .symbols_firstDiv{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.symbols .symbols_secondDiv{
    text-align: center;
}

.symbols img{
    width: 30%;
    border-radius: 50%;
    cursor: pointer;
}

#paper:hover{
    background-color: aqua;
    border: 1px solid aqua;
}
#rock:hover{
    border-radius: 20%;
}
#scissor:hover{
    border-radius: 20%;

}
/* symbols end */


/* media query for tablet */
@media only screen and (max-width: 900px) {
    /* title_with_score start */
    .title_with_score{
        width: 70%;
        margin-top: 5px;
    }
    .title_with_score .title_with_score-title{
        font-size: x-large;
        width: 22%;
    }
    /* title_with_score end */   

    /* symbols started */
    .symbols{
        width: 50%;
        border: 1px solid red;
    }
    /* symbols end */
}

/* media query for mobile view */
@media only screen and (max-width: 500px) {
    *{
        margin: 0%;
    }
    /* title_with_score start */
    .title_with_score{
        width: 85%;
        display: block;
        text-align: center;
        padding: 5px;
    }
    .title_with_score .title_with_score-title{
        font-size: x-large;
        width: 100%;
        text-decoration: underline;
        margin-bottom: 15px;
    }
    .title_with_score .title_with_score-score{
        width: 90%;
        margin: auto;
        justify-content: space-between;
        line-height: 25px;
    }
    /* title_with_score end */   

    /*  rules_and_next start  */
    .rules_and_next{
        width: 40%;
        position: absolute;
        bottom: 00px;
        right: 00px;
    }
    /*  rules_and_next end  */

    /* symbols started */
    .symbols{
        width: 90%;
        border: 1px solid red;
    }
    /* symbols end */

}

